In [1]:
import pandas as pd

In [2]:
file_path='/home/nineleaps/Practice/Client-Data.csv'
file_path

'/home/nineleaps/Practice/Client-Data.csv'

In [3]:
df=pd.read_csv(file_path)
print(df.head(5))

      Name  Age     Sex age_group   Location
0  Dhanush   25    Male     minor  Bengaluru
1    Rohan   20    Male    Junior   New York
2     Riya   32  Female     adult     Mumbai
3    Virat   30    Male    middle      Delhi
4    Sonam   40  Female    senior       Pune

In [4]:
df.index = pd.RangeIndex(start=1, stop=len(df) + 1, step=1)
print(df.head())

      Name  Age     Sex age_group   Location
1  Dhanush   25    Male     minor  Bengaluru
2    Rohan   20    Male    Junior   New York
3     Riya   32  Female     adult     Mumbai
4    Virat   30    Male    middle      Delhi
5    Sonam   40  Female    senior       Pune

In [5]:
df.new=df.rename(columns={'age':'Age'},inplace=True)
df.head()

      Name  Age     Sex age_group   Location
1  Dhanush   25    Male     minor  Bengaluru
2    Rohan   20    Male    Junior   New York
3     Riya   32  Female     adult     Mumbai
4    Virat   30    Male    middle      Delhi
5    Sonam   40  Female    senior       Pune

In [6]:
filtered_df= df[(df['Age']>25) & (df['Sex']=='Male')]
filtered_df

    Name  Age   Sex age_group Location
4  Virat   30  Male    middle    Delhi

In [7]:
df['age_group'] = pd.cut(df['Age'], bins=[18,20, 25, 30, 32, 40], labels=['Junior','minor', 'middle', 'adult', 'senior'])
df.head()

      Name  Age     Sex age_group   Location
1  Dhanush   25    Male     minor  Bengaluru
2    Rohan   20    Male    Junior   New York
3     Riya   32  Female     adult     Mumbai
4    Virat   30    Male    middle      Delhi
5    Sonam   40  Female    senior       Pune

In [8]:
df['Location']=['Bengaluru','New York','Mumbai','Delhi','Pune','Hyderabad']

In [9]:
df.to_csv("Client-Data.csv",index=False)

In [10]:
df.columns

Index(['Name', 'Age', 'Sex', 'age_group', 'Location'], dtype='object')

In [11]:
df['Location']

1    Bengaluru
2     New York
3       Mumbai
4        Delhi
5         Pune
6    Hyderabad
Name: Location, dtype: object

In [12]:
df['Net Worth']=['200cr','500cr','150cr','450cr','600cr','750cr']

In [13]:
df.to_csv('client_data.csv',index=False)

In [14]:
df['Net Worth']

1    200cr
2    500cr
3    150cr
4    450cr
5    600cr
6    750cr
Name: Net Worth, dtype: object

In [15]:
df['Status']=pd.cut(df['Net Worth'], bins=['150','200','450','500','600','750','900'], labels=['Rich','Super Rich','Ultra Rich','Millionare','Multi Millionare','Super Millionare'])

In [16]:
df.to_csv('client_data.csv',index=False)

In [17]:
df['Status']

1          Super Rich
2          Millionare
3                Rich
4          Ultra Rich
5    Multi Millionare
6    Super Millionare
Name: Status, dtype: category
Categories (6, object): ['Rich' < 'Super Rich' < 'Ultra Rich' < 'Millionare' < 'Multi Millionare' < 'Super Millionare']

In [18]:
df['Net Worth'] = df['Net Worth'].str.replace('cr', '').astype(float)

In [19]:
def classify_person(row):
    if (row['Age'] > 20) & (row['Age'] <= 25) & (row['Net Worth'] >= 200):
        return 'Over Achiever'
    elif (row['Age'] <= 30) & (row['Net Worth'] >= 200) & (row['Net Worth'] <= 450):
        return 'Great Achiever'
    else:
        return 'Super Achiever'

In [20]:
df['Achievment']=df.apply(classify_person,axis=1)

In [21]:
df.to_csv('client_data.csv',index=False)

In [22]:
df.drop(columns=['Achievment'],inplace=True)

In [23]:
df.columns

Index(['Name', 'Age', 'Sex', 'age_group', 'Location', 'Net Worth', 'Status'], dtype='object')

In [24]:
df.new=df.rename(columns={'AchievmentS':'Achievments'},inplace=True)

In [25]:
df.columns

Index(['Name', 'Age', 'Sex', 'age_group', 'Location', 'Net Worth', 'Status'], dtype='object')

In [26]:
filtered_df=df(['Achievments']=='Super Achiever' & df['Age']==25)

TypeError: Cannot perform 'rand_' with a dtyped [int64] array and scalar of type [bool]